<!-- Esta página se abre al pulsar el link "asignar camas" este recoge el excel aportado y lo junta con la base de datos-->
{% extends 'base.html' %}
{% block title %}Asignar camas{% endblock %}

{% block content %}
<section class="container">
  <h1>Asignar camas a alumnos</h1>
  <form method="post" action="{{ url_for('main.assign') }}">
    <table id="assignTable">
      <thead>
        <tr>
          <th>Nombre Alumno</th>
          <th>Número Alumno</th>
          <th>Bed ID</th>
        </tr>
      </thead>
      <tbody>
        {% for s in students %}
        <tr>
          <td>
            <input type="hidden" name="nombre_alumno_{{ loop.index0 }}" value="{{ s.nombre_alumno }}">
            {{ s.nombre_alumno }}
          </td>
          <td>
            <input type="hidden" name="numero_alumno_{{ loop.index0 }}" value="{{ s.numero_alumno }}">
            {{ s.numero_alumno }}
          </td>
          <td>
            <select name="bed_id_{{ loop.index0 }}">
              <option value="">--Selecciona cama--</option>
              {% for bed_id in free_beds %}
              <option value="{{ bed_id }}"
                {% if asignaciones and asignaciones[loop.index0] == bed_id %}selected{% endif %}>
                {{ bed_id }}
              </option>
              {% endfor %}
            </select>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="hidden" name="total" value="{{ students|length }}">
    <button type="submit">Guardar asignaciones</button>
    {% if assign_message %}
      <div class="card message">{{ assign_message }}</div>
    {% endif %}
  </form>
</section>
{% endblock %}
