{% extends 'base.html' %}
{% block title %}Créditos{% endblock %}

{% block content %}

<div class="scroll-container">
  <div class="scroll-content">
    <h1>E2T Técnicas de apoyo CIS-TIC 2025</h1>
    <br>
    <ul class="scroll-list">
      <li>Stte COS. Juan M. Gómez Gónzalez</li>
      <li>Bg ELS. Jesús M. Romeu Teijeiro</li>
      <li>Bg TIS. Francisco G. Canosa Marcote</li>
      <li>Bg SOS. María de los Ángeles Sánchez Cánovas</li>
      <li>Bg IM. Alejandro Martín Pérez</li>
      <li>Bg TIS. Carlos Couce Vazquez</li>
      <li>Sgt1 IM. Antonio Ruiz Palmero</li>
      <li>Sgt1 TIS. Javier Fernández Pérez</li>
      <li>Sgt1 TIS. Alberto Mota Alvarado</li>
      <li>Sgt1 ALS. Dimitri Diez Losa</li>
      <li>Sgt1 OSS. Jorge Jiménez Coronado</li>
    </ul>
  </div>
</div>

<div class="boton-creditos">
  <a href="{{ url_for('main.login') }}" class="btn bg-blue-800 text-white w-100">Ir al Login</a>
</div>
    
{% endblock %}
